
{% render 'partials/header.liquid' %}
    
<main>

    <button>
        Beschikbaar
    </button>
    <button>
        Uitgeleend
    </button>
    <button>
        In reparatie
    </button>
    <button>
        Onbekend
    </button>

<section>
  <ul>
    {% for instrument in instruments %}
      <li>
        {{ instrument.name }}
      </li>
    {% endfor %}
  </ul>
</section>



<ul>
  <li><a href="/instrument">Instrument details</a></li>
  <li><a href="/instrument/schade">Schade melden</a></li>
</ul>

</main>

{% render 'partials/footer.liquid'%}
