{% render 'partials/header.liquid' %}

<main>
  <h1>Schade melden</h1>
  <p>Hier komt later een formulier om schade aan een instrument te melden.</p>

  <a href="/instrument">Terug naar instrument</a>
</main>

{% render 'partials/footer.liquid'%}
