<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Instrument uitlenen</title>
</head>
<body>
  <h1>Instrument uitlenen</h1>
  <p>Hier komt later een formulier of knop om een instrument uit te lenen.</p>

  <a href="/instrument">Terug naar instrument</a>
</body>
</html>