{% render 'partials/header.liquid' %}

<main>
  <h1>Details instrument</h1>
  <p>Hier komt later informatie over één instrument.</p>

  <nav>
    <ul>
      <li><a href="/instrument/innemen">Innemen</a></li>
      <li><a href="/instrument/uitlenen">Uitlenen</a></li>
      <li><a href="/instrument/schade">Schade melden</a></li>
      <li><a href="/">Terug naar home</a></li>
    </ul>
  </nav>
</main>

{% render 'partials/footer.liquid'%}
