.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo svg {
    width: 200px;
    height: auto;
    display: block;
}

.button {
    padding: 10px 16px;
    background-color: #D9D9D9;
    outline: #46166B solid 2px;
    text-decoration: none;
    color: #46166B;
}